#sidebar{
    background-color: aqua;
    height: 400px;
    width: 150px;}


#sidebar > div:nth-child(1){
    background-color: tomato;
    height: 100px;
}
#sidebar > div:nth-child(2){
    background-color: rgb(19, 16, 15);
    height: 100px;
}
#sidebar > div:nth-child(3){
    background-color: rgb(71, 145, 255);
    height: 100px;
}
#sidebar > div:nth-child(4){
    background-color: rgb(214, 45, 186);
    height: 100px;
}

#sidebar > div:last-child{
    position: fixed;
    background-color: rgb(45, 214, 87);
    height: 200px;
;
  
}




