#container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:repeat(10, 80px);
}
#container > div:nth-child(1){
    background-color: yellow;
    grid-column:1/6;
}
#container > div:nth-child(2){
    background-color: yellowgreen;
    grid-column: 1;
    grid-row:  2/8;

}
#container > div:nth-child(3){
    background-color: rgb(54, 56, 48);
    grid-column:2/6;
    grid-row:2/8;
}
#container > div:nth-child(4){
    background-color: yellow;
    grid-row:8/10;
    grid-column:1/6;
}
#container > div:last-child{
    background-color: rgb(72, 255, 0);
    grid-row:8/10;
    grid-column:1/6;
}
