.anims{
    background-color: rgb(0, 60, 255);
    height: 550px;
    width: 650px;
    margin-left: 250px;
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    color: brown;
    position: relative;
}
.child{
    background-color:red;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    text-align:center;
    animation-name: child;
    animation-duration: 8s;
    animation-iteration-count: infinite;


}
@keyframes child {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top:0px;
        left: 550px;
        height: 100px;
        width: 100px;
        background-color: rgba(0, 255, 42, 0.76);
    }
    27%{
        top: 250px;
        left: 550px;
        height: 100px;
        width: 100px;
        background-color:rgb(226, 48, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        color: white;
    }
    75%{
        top: 450px;
        left: 0px;
        height: 100px;
        width: 100px;
        background-color:rgb(226, 48, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        color: white;}
    77%{
        top:250px;
        left:225px;
        font-size:55px;
        height:200px;
        width: 200px;
        font-family: 'Times New Roman', Times, serif;
        background-color:rgb(238, 10, 48);
    }
    63%{
        top:250px;
        left:225px;
        font-size:55px;
        height:200px;
        width: 200px;

        font-family: 'Times New Roman', Times, serif;
        background-color:rgb(238, 10, 48);
    }
    91%{
        top:150px;
        left:0px;
        font-size:40px;
        height:200px;
        width: 200px;
        
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color:rgb(238, 215, 10);
    }
    100%{
        top:0px;
        left:0px;
        font-size:55px;
        height:200px;
        width: 200px;
        font-family: 'Times New Roman', Times, serif;
        background-color:rgb(238, 10, 48);
    }
    
}